.account-sign-up-window-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	opacity: 0.3;
	background: black;
}

.sign-in-container {
	width: 100%;
	height: 100%;
	overflow: auto;
	position: fixed;
	top: 10px;
	z-index: 1100;
	background: white;
	border-radius: 8px;
}

.sign-in-options-and-input-wrapper {
	margin-top: 24px;
	padding: 0px 16px 4px;
}

.sign-in-container-header svg {
	left: 10px;
	position: absolute;
}

.sign-in-container-header h2 {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}

.sign-in-options-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 12px;
}

.sign-in-options-container button {
	width: min(100%, 500px);
	height: 38px;
	display: flex;
	align-items: center;
	gap: 4px;
	border: 1px solid rgb(199, 200, 205);
	border-radius: 24px;
}

.sign-in-option-icons {
	width: 28px;
	display: flex;
}

.sign-in-option-icons svg {
	width: 100%;
}

.sign-in-options-container span {
	font-size: 14px;
	width: 100%;
	text-align: center;
	font-weight: 500;
}

.personal-sign-up-input-container {
	height: 80vh;
	display: flex;
	flex-direction: column;
}

.sign-in-options-input-divider {
	margin: 24px 0px;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.sign-in-options-input-divider:before,
.sign-in-options-input-divider:after {
	content: "";
	flex: 1;
	border-bottom: 1px solid rgb(232, 233, 235);
}

.sign-in-prompt-msg {
	margin: 12px 0;
	font-size: 15px;
}

.email-or-input-container {
	margin: 12px 0px;
	height: fit-content;
	position: relative;
	display: flex;
	flex-direction: column;
}

.email-or-input-container input {
	font-size: 17px;
	padding: 22px 12px 8px;
	border-radius: 12px;
	border: 1px solid #343538;
}

.terms-and-conditions-email-sign-up {
	margin: 12px 0px;
	font-size: 12px;
}

.terms-and-conditions-email-sign-up a {
	text-decoration: none;
	font-weight: 500;
	color: rgb(14, 125, 14);
}

.terms-and-conditions-phone-sign-up {
	font-size: 12px;
}
.terms-and-conditions-phone-sign-up a {
	text-decoration: none;
	font-weight: 500;
	color: rgb(14, 125, 14);
}

.sign-up-email-or-input-label {
	margin: 0 0 0 10px;
	width: fit-content;
	position: absolute;
	font-size: 20px;
	transform: translateY(20px);
	transition: all 0.2s ease-in-out;
}

/* Change label position of input if focused */
/* Return to the original position when not focused  */
.email-or-input-container input:valid + label,
input:focus + label {
	font-size: 12px;
	transform: translateY(8px);
}

.sign-up-continue-btn {
	margin: 12px 0px;
	height: 56px;
	width: 100%;
	border-radius: 12px;
	color: rgb(255, 255, 255);
	background: rgb(14, 125, 14);
}

.sign-up-continue-btn span {
	font-size: 17px;
	font-weight: 600;
}

/* ======================== */
/*  --------- SIGN UP CONTAINER */
/* ======================== */

.sign-up-log-in-container {
	margin-bottom: 0;
	margin-top: auto;
	position: relative;
	/* height: 500px; */
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 1px solid rgb(232, 233, 235);
}

.sign-up-log-in-container p {
	margin: 12px 0px;
	font-size: 15px;
}

.sign-up-log-in-container button {
	margin: 0px 0 18px 0px;
}
.sign-up-log-in-container button span {
	font-size: 17px;
	font-weight: 600;
	color: rgb(14, 125, 14);
}

/* ========================= */
/* --------- LOGIN FORM ------------- */
/* ============================= */

/* <<<<< LOGIN INPUTS >>>>>>>*/

.login-inputs-container {
	position: relative;
	transition: all 0.2s ease-in-out;
}

.login-inputs-container input {
	font-size: 17px;
	border-radius: 12px;
	padding: 22px 12px 8px;
	border: 1px solid #343538;
}

/*   LOGIN EMAIL LABEL INPUT   */

.login-email-input-container {
	display: flex;
	flex-direction: column;
}

.login-email-input-container {
	position: relative;
	display: flex;
	flex-direction: column;
}

.login-email-input-container input:valid + label,
.login-email-input-container input:focus + label {
	font-size: 12px;
	transform: translateY(6px);
}

.login-email-label-input {
	position: absolute;
	margin: 0 12px;
	width: fit-content;
	font-size: 20px;
	transform: translateY(18px);
	transition: all 0.2s ease-in-out;
}

/*  LOGIN PASSWORD LABEL INPUT  */

.login-password-input-container {
	margin-top: 12px;
	position: relative;
	display: flex;
	flex-direction: column;
	transition: all 0.2s ease-in-out;
}

.login-password-input-container input:valid + label,
.login-password-input-container input:focus + label {
	font-size: 12px;
	transform: translateY(6px);
}

.login-password-label-input {
	position: absolute;
	margin: 0 0 0 10px;
	width: fit-content;
	font-size: 20px;
	transform: translateY(18px);
	transition: all 0.2s ease-in-out;
}

.forgot-password-container {
	margin: 12px 0px;
	display: flex;
	align-items: center;
	font-size: 15px;
}

.forgot-password-container button {
	font-weight: 700;
	font-size: 15px;
	color: rgb(14, 125, 14);
}

.login-btn {
	margin: 12px 0;
	height: 56px;
	width: 100%;
	border-radius: 12px;
	color: rgb(255, 255, 255);
	background: rgb(14, 125, 14);
	font-size: 17px;
	font-weight: bold;
}

/* ==================== */
/* HOVER & EFFECTS */
/* ==================== */

.sign-in-container-hidden {
	transform: translateY(100%);
	transition: all 0.3s ease-in-out;
}
.sign-in-container-shown {
	transform: translateY(0%);
	transition: all 0.3s ease-in-out;
}

.sign-in-options-container button:hover {
	background: #f3f4f5;
}

.email-or-input-container input:focus {
	outline: 1px solid rgb(52, 53, 56);
}

.sign-up-continue-btn:hover {
	background: #0b730b;
}

/* ----------- MEDIA QUERY ------------*/
@media (min-width: 725px) {
	.sign-in-container-shown {
		margin: 0 auto;
		width: 416px;
		top: -24px;
	}

	.sign-in-container {
		margin-bottom: 60px;
		height: 600px;
		position: relative;
	}

	.sign-in-container-hidden {
		display: none;
	}

	.personal-sign-up-input-container {
		height: 0;
		display: flex;
		flex-direction: column;
	}
}
