.menu-container {
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: start;
	background: white;
}

.menu-open-header-nav {
	padding: 12px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.nav-menu-open-left {
	display: flex;
	align-items: center;
	gap: 4px;
}

.nav-menu-open-left-instacart-logo img {
	width: 24px;
	cursor: pointer;
}

.nav-menu-open-instacart-lg-logo {
	width: 100%;
	display: none;
	justify-content: center;
}

.nav-menu-open-instacart-lg-logo img {
	width: 140px;
}

.nav-right-menu-open {
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 16px;
}

.nav-right-menu-open button {
	font-size: 16px;
	cursor: pointer;
}

.nav-right-menu-open button:first-of-type {
	font-weight: 500;
	background: none;
	border: none;
}

.nav-right-menu-open button:last-of-type {
	padding: 10px 16px;
	font-weight: 600;
	border-radius: 20px;
	border: none;
	background: green;
	color: white;
}

.menu-open-header {
	width: 100%;
}

.nav-close-menu-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	height: 40px;
	width: 40px;
	cursor: pointer;
}

.menu-list {
	width: 100%;
}

.menu-list button {
	width: 100%;
	font-size: 17px;
	padding: 12px 16px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: none;
	cursor: pointer;
}

.menu-open-change-country-btn {
	padding: 24px 16px 12px;
	font-size: 17px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	border-color: "#C7C8CD";
	border-width: 0.5px 0px 0px 0px;
	background: none;
}
.nav-country {
	display: flex;
	align-items: center;
	gap: 4px;
}

.nav-country img {
	width: 24px;
}

.change-country {
	color: green;
}

.nav-menu-open-overlay {
	z-index: 10;
	position: absolute;
	background: black;
	opacity: 0.3;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
}

/* =============================== */
/* ======= MEDIA QUERY ====== */
/* =============================== */

@media (min-width: 750px) {
	.menu-container {
		width: 40%;
	}

	.menu-list button {
		font-size: 12px;
	}

	.nav-close-menu-button {
		justify-self: start;
	}

	.nav-menu-open-left {
		width: 100%;
	}

	.nav-menu-open-left-instacart-logo {
		display: none;
	}

	.nav-menu-open-instacart-lg-logo {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.nav-right-menu-open {
		display: none;
	}

	.menu-open-change-country-btn {
		display: none;
	}

	.selected-menu-list-label {
		background: rgb(246, 247, 248);
	}
}

/* ============================ */
/* --------------OPENED MENU SELECTED MENU ITEMS------------ */
/* ============================ */

.nav-menu-dropdown-container {
	/* padding-left: 16px; */
	/* padding-right: 16px; */
	/* padding-bottom: 32px; */
	position: absolute;
	top: 80px;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: white;
}

.nav-menu-dropdown-container ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.nav-menu-dropdown-container ul a {
	display: inline-block;
	width: 100%;
	padding: 12px 16px;
	font-size: 17px;
	font-weight: 600;
}

.nav-menu-dropdown-container > button:first-of-type {
	padding: 12px 16px;
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 600;
	border-bottom: 0.5px solid #c7c8cd;
}

.nav-menu-dropdown-container button:first-child h5 {
	margin-left: 20px;
}

/* =============================== */
/* ======= MEDIA QUERY ====== */
/* =============================== */

@media (min-width: 750px) {
	.nav-menu-dropdown-container {
		padding-top: 10px;
		position: absolute;
		top: 0;
		right: -100%;
		border-left: 1px solid rgb(232, 233, 235);
	}

	.nav-menu-dropdown-container ul a {
		font-size: 13px;
	}

	.nav-menu-dropdown-container > button:first-of-type {
		display: none;
	}
}

/* ============================ */
/* -----------COUNTRY CHOICE POPUP */
/* ============================ */

.change-country-popup {
	z-index: 50;
	padding-top: 24px;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	background: white;
}

.change-country-pop-btn {
	width: 100%;
	padding: 12px 16px;
	background: none;
	display: flex;
	justify-content: space-between;
}

.change-country-pop-btn div {
	display: flex;
	align-items: center;
}

.change-country-pop-btn div img {
	width: 1.4rem;
}
.change-country-pop-btn div span {
	margin-left: 10px;
	font-size: 17px;
	font-weight: 600;
}

.close-country-pop-up-btn-wrapper {
	width: 100%;
	font-size: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.close-country-pop-up-btn-wrapper button {
	margin: 12px 10px;
	width: 100%;
	height: 54px;
	font-size: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 27px;
	background: rgb(246, 247, 248);
}

.close-country-pop-up-btn-wrapper button span {
	font-weight: 700;
}

/* OVERLAY */
.change-country-overlay {
	z-index: 10;
	position: absolute;
	background: black;
	opacity: 0.3;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
}

.unselected-country-text-style {
	color: rgb(114, 118, 126);
}

/* ---------------------- */
/* Hovers and Effects */
/* ---------------------- */

.nav-menu-button:hover {
	background: #f6f7f8;
	border-radius: 8px;
	transition: 300ms;
}

.close-country-pop-up-btn-wrapper button:hover {
	transition-duration: 300ms;
	background: rgb(240, 240, 240);
}
