.statistic-facts-accordion-wrapper {
	border-radius: 10px;
	background: rgb(244, 244, 244);
}

.statistic-facts-accordion-title-container h2 {
	font-size: 28px;
	color: #343538;
}

.statistic-facts-accordion-accordion-card-wrapper {
	margin: 10px 0;
	padding: 32px;
	display: flex;
	flex-direction: column;
	background: rgb(244, 244, 244);
	border-radius: 8px;
}

.statistic-facts-accordion-title-container h2 {
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.statistic-facts-content-container p {
	text-align: center;
	padding-top: 28px;
	font-size: 18px;
	color: rgb(52, 53, 56);
}

/* =========================== */
/* ------------- MEDIA QUERY ---------------- */
/* =========================== */

@media (min-width: 400px) {
	.statistic-facts-accordion-title-container h2 {
		text-align: start;
	}

	.statistic-facts-content-container p {
		text-align: start;
	}
}
