.footer-wrapper {
	padding: 0 5%;
}

/* ============================= */
/* <<<<<<<< GET DELIVERIES SERVICES SECTION >>>>>>>>> */
/* ============================= */

.get-delivery-services-wrapper {
	padding: 0 5%;
}

.get-delivery-services-container {
	padding: 0 5%;
	border-top: 0.5px solid rgb(225, 225, 225);
}

.get-delivery-services-header-logos-wrapper {
	flex: 1;
}

.get-delivery-services-header-container {
	display: flex;
	padding: 20px 0 13px 6px;
	align-items: center;
	justify-content: center;
}

.get-delivery-services-header-container img {
	width: 33px;
}

.get-delivery-services-header-container h4 {
	margin-left: 10px;
	font-size: 17px;
	font-weight: 600;
	color: #343538;
}

.get-delivery-services-app-providers-logo-container {
	margin-top: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.get-delivery-services-app-providers-logo-container div {
	display: flex;
	align-items: center;
}

.get-delivery-services-app-providers-logo-container div:nth-child(2) {
	margin-left: 10px;
}

.get-delivery-services-app-providers-logo-container svg {
	display: block;
	color: rgb(52, 53, 56);
}

.get-delivery-services-app-providers-logo-container a {
	font-size: 14px;
	margin-left: 12px;
	font-weight: 600;
	text-decoration: none;
	color: rgb(52, 53, 56);
}

/* ============================= */
/* <<<<<<<< GET DELIVERIES SERVICES SECTION >>>>>>>>> */
/* ============================= */

.become-a-shopper-services-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	border-top: 0.5px solid rgb(225, 225, 225);
}

.become-a-shopper-services-header-logos-wrapper {
	flex: 1;
}

.become-a-shopper-services-header-container {
	display: flex;
	padding: 20px 0 13px 6px;
	align-items: center;
	justify-content: center;
}

.become-a-shopper-services-header-container img {
	width: 33px;
}

.become-a-shopper-services-header-container h4 {
	margin-left: 10px;
	font-size: 17px;
	font-weight: 600;
	color: #343538;
}

.become-a-shopper-app-providers-logo-container {
	margin-top: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.become-a-shopper-app-providers-logo-container div {
	display: flex;
	align-items: center;
}

.become-a-shopper-app-providers-logo-container div:nth-child(2) {
	margin-left: 10px;
}

.become-a-shopper-app-providers-logo-container svg {
	display: block;
	color: rgb(52, 53, 56);
}

.become-a-shopper-app-providers-logo-container a {
	font-size: 14px;
	margin-left: 12px;
	font-weight: 600;
	text-decoration: none;
	color: rgb(52, 53, 56);
}

/* -------- FOOTER ACCESSIBILITY SECTION: ------- */

.footer-accessibility-section {
	padding: 20px;
	border-width: 0.5px 0;
	border-color: rgb(225, 225, 225);
	border-style: solid;
}

.footer-accessibility-section h4 {
	flex: 1 0 0;
	font-size: 1rem;
	font-weight: 600;
	color: #343538;
}

.footer-toggle-and-text-container {
	flex: 1 0 0;
	margin-top: 12px;
	display: flex;
	align-items: center;
}

.footer-toggle-and-text-container span {
	font-size: 15px;
	font-weight: 300;
}

.footer-accessibility-toggle {
	display: flex;
	width: fit-content;
}

.footer-accessibility-toggle input[type="checkbox"] {
	height: 0;
	width: 0;
	visibility: hidden;
}

.footer-accessibility-toggle label:active::after {
	width: 28px;
}

.footer-accessibility-toggle input:checked + label {
	background: rgb(36, 37, 41);
}

.footer-accessibility-toggle input:checked + label::after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.footer-accessibility-toggle label {
	cursor: pointer;
	text-indent: -9999px;
	width: 60px;
	height: 34px;
	background: #c7c8cd;
	display: block;
	border-radius: 100px;
	position: relative;
}

.footer-accessibility-toggle label:after {
	content: "";
	position: absolute;
	top: 3px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: #fff;
	border-radius: 90px;
	transition: 0.2s;
}

/* ----------------------- */

/* ------- LEGAL FOOTER SECTION ------- */

.footer-legal-section {
	padding: 20px;
	border-width: 0.5px 0;
	border-color: rgb(225, 225, 225);
	border-style: solid;
}

.footer-legal-section h4 {
	font-size: 1rem;
	font-weight: 600;
}

.footer-legal-terms-and-policy-links {
	padding: 0 5% 0 0;
	margin-top: 20px;
	display: flex;
	gap: 14px;
	color: rgb(52, 53, 56);
}

.footer-legal-terms-and-policy-links a {
	color: rgb(52, 53, 56);
	font-weight: 500;
	text-decoration: none;
}

.footer-social-media-container {
	margin-top: 20px;
	display: flex;
	align-items: center;
	gap: 14px;
}

.footer-legal-terms-conditions {
	margin-top: 18px;
	line-height: 16px;
	font-size: 11px;
	color: #72767e;
}

.footer-legal-terms-conditions a {
	font-weight: bold;
	font-size: 12px;
	color: #72767e;
}

/* ============================= */
/* <<<<<<<< MEDIA QUERIES >>>>>>>>> */
/* ============================= */

@media (min-width: 750px) {
	.statistic-facts-img-wrapper {
		display: none;
	}

	.get-delivery-services-container {
		padding: 0 20px;
		display: flex;
		justify-content: space-between;
		border-top: 0.5px solid rgb(225, 225, 225);
	}

	.become-a-shopper-services-container {
		padding: 0;
		flex-direction: row;
	}

	.become-a-shopper-services-wrapper {
		margin-top: 60px;
	}

	.footer-accessibility-section {
		display: flex;
		align-items: center;
	}

	.footer-legal-heading-terms-and-policy-container {
		display: flex;
	}

	.footer-legal-heading-terms-and-policy-container h4 {
		flex: 2 0 0;
	}

	.footer-legal-socials-and-terms-and-policy-container {
		flex: 2 0 0;
	}
}

/* ======================== */
/* --------- MEDIA QUERY ---------- */
/* ======================== */

@media (min-width: 978px) {
	.grocery-delivery-benefits-wrapper {
		display: flex;
		justify-content: center;
	}

	.get-delivery-services-header-and-logo-container {
		max-width: 280px;
		width: 220px;
	}

	.become-as-shopper-services-header-logos-container {
		max-width: 280px;
		width: 220px;
	}

	.become-a-shopper-services-header-container {
		padding: 0px;
	}
}
