.delivery-services-wrapper {
	margin: 20px 0 0 20px;
	display: flex;
	gap: 14px;
	justify-content: space-between;
	width: 100%;
}

.delivery-services-container ul {
	margin-top: 16px;
	width: 100%;
	background: none;
}

.delivery-services-container h3 {
	font-size: 17px;
	font-weight: 700;
	color: #343538;
}

.delivery-services-container ul li a {
	font-size: 14px;
	color: #343538;
	text-decoration: none;
}

/*  <<<<<<<<<<<< STYLES AND EFFECTS >>>>>>>>>>>> */

.delivery-services-container ul li a:hover {
	border-bottom: 1px solid #343538;
}

.accordion-list-items li a:visited {
	text-decoration: none;
}
