.get-deliveries-services-accordion-wrapper {
	margin-top: 60px;
	max-width: 100%;
	flex: 1;
}

.get-deliveries-services-accordion-title-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px;
	border-bottom: 0.5px solid rgb(225, 225, 225);
}

.get-deliveries-accordion-item-wrapper {
	max-width: 100%;
}

.get-deliveries-services-accordion-title-container h3 {
	font-weight: 600;
	font-size: 17px;
	color: #343538;
}

.get-deliveries-services-accordion-list-items li {
	padding: 7px 0;
}

.get-deliveries-services-accordion-list-items li a {
	font-size: 14px;
	color: #343538;
	text-decoration: none;
}

/*  <<<<<<<<<<<< MEDIA QUERIES >>>>>>>>>>>> */

@media (min-width: 880px) {
	.get-deliveries-services-accordion-wrapper {
		margin: 0 20px;
		/* width: 100%; */
		max-width: 350px;
	}

	.get-delivery-services-container {
		display: flex;
		align-items: flex-start;
	}

	.get-deliveries-accordion-item-wrapper {
		max-width: 350px;
	}
}

/*  <<<<<<<<<<<< STYLES AND EFFECTS >>>>>>>>>>>> */

.accordion-list-items li a:hover {
	border-bottom: 1px solid #343538;
}

.accordion-list-items li a:visited {
	text-decoration: none;
}
