/* <<<<<<<< HERO-SECTION >>>>>>>>> */
.bg-hero-img {
	width: 100%;
	height: 150px;
	position: relative;
	background-image: url("src/assets/hero-homepage-bg.jpeg");
	background-size: cover;
}

.bg-hero-img div {
	position: relative;
	height: 100%;
}

.bg-hero-img div p {
	display: none;
}

.bg-hero-img h1 {
	margin-left: 20px;
	width: 256px;
	position: absolute;
	top: 30px;
	line-height: 32px;
	font-weight: 700;
	font-size: 29px;
}

/* <<<<<<<< QR CODE CALL TO ACTION SECTION >>>>>>>>> */
.qr-code-cta-container {
	padding: 20px;
	margin: 100px 0 0 0;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	gap: 4px;
	align-items: center;
	border-radius: 8px;
	background: rgb(177, 229, 213);
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
}

.qr-code-cta-container div {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	line-height: 20px;
	text-align: center;
}

.qr-code-cta-container img:first-of-type {
	width: 267px;
	display: none;
}

.qr-code-cta-container h2 {
	padding: 10px 0;
	font-size: 21px;
	font-weight: 700;
}

.qr-code-cta-container p {
	font-size: 14px;
}

.qr-code-cta-img {
	width: 100px;
	height: 100px;
	border-radius: 8px;
}

/* ============================= */
/* <<<<<<<< MEDIA QUERIES >>>>>>>>> */
/* ============================= */

@media (min-width: 450px) {
	.qr-code-cta-container {
		padding: 0;
		flex-direction: row;
		justify-content: space-between;
		gap: 0;
	}

	.qr-code-cta-container div {
		margin-left: 30px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: start;
		gap: 0;
		line-height: 20px;
		text-align: center;
	}
}

/* =================================== */
/* =================================== */

@media (min-width: 750px) {
	.bg-hero-img {
		position: relative;
		background-image: url("src/assets/hero-homepage-bg.jpeg");
		background-size: contain;
		height: 250px;
		width: 100%;
		background-repeat: no-repeat;
		background-position: right 0px;
		background-color: #deedd6;
	}

	.bg-hero-img div {
		margin-left: 120px;
		width: fit-content;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.bg-hero-img h1 {
		margin-left: 0;
		width: 578px;
		font-weight: 700;
		font-size: 41px;
		line-height: 52px;
		position: static;
	}
	.bg-hero-img div p {
		margin-top: 16px;
		display: inline-block;
		font-size: 14px;
	}

	.qr-code-cta-container div {
		margin-left: 0px;
	}
	.qr-code-cta-container img:first-of-type {
		display: inline;
	}
}

/* ======================== */
/* ======================== */

@media (min-width: 900px) {
	.bg-hero-img {
		background-size: 250px;
	}
}
